.contacto {
    padding: 20px;
    text-align: center;
    margin-top: 200px;
  }
  
  .contacto-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    color: #0D3073
  }
  
  p {
    color: #0D3073;
  }
  
  .whatsapp-button {
    display: inline-block;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .whatsapp-button:hover {
    background-color: #128c7e;
  }
  
  @media (max-width: 768px) {
    .contacto-content {
      padding: 0 20px;
    }
  }