
.form-group {
    color: #0D3073;
}

.form-control {
    color: #0D3073;
}

.form-control {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box; 
  }

  .title-step4 p
{
    color: #0D3073;
    padding: 3px;
  }
  
  
  @media (max-width: 768px) {
    .form-control {
      margin-bottom: 10px; 
    }
  }
  .tooltip-container {
    position: relative;
    text-align: center;
  }
  
  .tooltip-trigger {
    cursor: pointer;
    color: #0D3073;
    text-align: start;
    font-size: 12px;
    font-style: italic;
  }
  
  .tooltip-content {
    display: none; 
    position: absolute;
    top: calc(100% + 10px); 
    left: 50%;
    transform: translateX(-50%);
    background-color:  #f1f4f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .tooltip-content {
    color: #0D3073;
  }
  
  .tooltip-trigger:hover + .tooltip-content {
    display: block; }
  
  @media (min-width: 768px) {
    .tooltip-content {
      width: 80vw; 
    }
  }

  @media (max-width: 768px) {
    .tooltip-content {
      width: 100%; 
    }}

    /*Modal*/
    .modal-title h3{
      color: #0D3073;
    }
    .modal-body {
      color: #0D3073;
    }

    .terminosycondiciones {
      margin-top: 7px;
    }