.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 21%;
    height: 100%;
    background-color: #f1f4f9;
    padding: 20px;
}

.side-menu h2 {
    color: #0D3073;
    text-align: left;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    
    width: 60%;
    
    height: auto
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.progress-point {
    background-color: #007bff1c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    font-weight:bolder;
    color: #0D3073;
}

.progress-point.active {
    background-color: #007bff;
    color: #fff;
}